# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Environment variables
.env
functions/.env

# Build artifacts
public/css/styles.min.css
